body {
  margin: 0 auto;
  width: 90vw;
}

h1 {
  text-align: center;
}
ul li { cursor: pointer;}
.container {
  display: flex;
  flex-direction: column;
}
.statuses { background-color: black;}
.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}