.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.col {
    width: 33%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}